<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<div>
    <a href="{{url_for('editCatalog', cat_id = catalog.id)}}">
        <button>Edit Catalog</button>
    </a>
</div>
<div>
    <a href="{{url_for('addItem', cat_id = catalog.id)}}">
        <button>Add Item</button>
    </a>
</div>
<div>
    <a href="{{url_for('deleteCatalog', cat_id = catalog.id)}}">
        <button>Delete Catalog</button>
    </a>
</div>
<h1>Items for {{catalog.name}}</h1>
{% for item in items %}
    <div>
        <h3><p>{{item.title}}</p></h3>
        <p>{{item.description}}</p>
    </div>
{% endfor %}
</body>
</html>